In [21]:
from bs4 import BeautifulSoup
import requests
import time
import datetime
import smtplib
import csv 
import os

In [25]:
URL = 'https://www.amazon.com/Funny-Data-Systems-Business-Analyst/dp/B07FNW9FGJ'

headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/128.0.0.0 Safari/537.36"}

page = requests.get(URL, headers=headers)

soup1 = BeautifulSoup(page.content, "html.parser")

soup2 = BeautifulSoup(soup1.prettify(), "html.parser")

title = soup2.find(id='productTitle')
if title:
    title_text = title.get_text().strip()

price = soup2.find(id='priceblock_ourprice')
if price:
    price_text = price.get_text().strip()
today = datetime.date.today()

In [27]:
header = ['Title', 'Price', 'Date']
data = [ title_text,  price_text, today]


# Define your specific path
specific_path = r"C:\Users\benne\Downloads\Kenny's files\Project\python Pandas\AmazonWeb\AmazonWebScraperDataset.csv"
os.makedirs(os.path.dirname(specific_path), exist_ok=True)

with open(specific_path, 'w', newline='', encoding='UTF8') as f:
    writer = csv.writer(f)
    writer.writerow(header)
    writer.writerow(data)

In [51]:
import pandas as pd

df = pd.read_csv(specific_path)

print(df)

                                               Title  Price        Date
0  Funny Got Data MIS Data Systems Business Analy...    NaN  2024-09-13
1  Funny Got Data MIS Data Systems Business Analy...    NaN  2024-09-13
2  Funny Got Data MIS Data Systems Business Analy...    NaN  2024-09-13
3  Funny Got Data MIS Data Systems Business Analy...    NaN  2024-09-13

In [49]:
with open(specific_path, 'a+', newline='', encoding='UTF8') as f:
        writer = csv.writer(f)
        writer.writerow(data)

                                               Title  Price        Date
0  Funny Got Data MIS Data Systems Business Analy...    NaN  2024-09-13

In [71]:
def check_price():
    URL = 'https://www.amazon.com/Funny-Data-Systems-Business-Analyst/dp/B07FNW9FGJ'
    headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/128.0.0.0 Safari/537.36"}

    page = requests.get(URL, headers=headers)

    soup1 = BeautifulSoup(page.content, "html.parser")

    soup2 = BeautifulSoup(soup1.prettify(), "html.parser")

    title = soup2.find(id='productTitle')
    if title:
        title_text = title.get_text().strip()

    price = soup2.find(id='priceblock_ourprice')
    if price:
        price_text = price.get_text().strip()
    today = datetime.date.today()
    with open(specific_path, 'a+', newline='', encoding='UTF8') as f:
        writer = csv.writer(f)
        writer.writerow(data)

In [77]:
while(True):
    check_price()
    time.sleep(3)

KeyboardInterrupt:

In [80]:
import pandas as pd

df = pd.read_csv(specific_path)

print(df)

                                                Title  Price        Date
0   Funny Got Data MIS Data Systems Business Analy...    NaN  2024-09-13
1   Funny Got Data MIS Data Systems Business Analy...    NaN  2024-09-13
2   Funny Got Data MIS Data Systems Business Analy...    NaN  2024-09-13
3   Funny Got Data MIS Data Systems Business Analy...    NaN  2024-09-13
4   Funny Got Data MIS Data Systems Business Analy...    NaN  2024-09-13
5   Funny Got Data MIS Data Systems Business Analy...    NaN  2024-09-13
6   Funny Got Data MIS Data Systems Business Analy...    NaN  2024-09-13
7   Funny Got Data MIS Data Systems Business Analy...    NaN  2024-09-13
8   Funny Got Data MIS Data Systems Business Analy...    NaN  2024-09-13
9   Funny Got Data MIS Data Systems Business Analy...    NaN  2024-09-13
10  Funny Got Data MIS Data Systems Business Analy...    NaN  2024-09-13
11  Funny Got Data MIS Data Systems Business Analy...    NaN  2024-09-13
12  Funny Got Data MIS Data Systems Business Analy...    NaN  2024-09-13
13  Funny Got Data MIS Data Systems Business Analy...    NaN  2024-09-13
14  Funny Got Data MIS Data Systems Business Analy...    NaN  2024-09-13
15  Funny Got Data MIS Data Systems Business Analy...    NaN  2024-09-13
16  Funny Got Data MIS Data Systems Business Analy...    NaN  2024-09-13
17  Funny Got Data MIS Data Systems Business Analy...    NaN  2024-09-13

In [90]:
def send_mail():
    server = smtplib.SMTP_SSL('smtp.gmail.com',465)
    server.ehlo()
    #server.starttls()
    server.ehlo()
    server.login('kennychrispin@gmail.com','**********')
    
    subject = "The Shirt you want is below $15! Now is your chance to buy!"
    body = "kenny, This is the moment we have been waiting for. Now is your chance to pick up the shirt of your dreams. Don't mess it up! Link here: https://www.amazon.com/Funny-Data-Systems-Business-Analyst/dp/B07FNW9FGJ/ref=sr_1_3?dchild=1&keywords=data+analyst+tshirt&qid=1626655184&sr=8-3"
   
    msg = f"Subject: {subject}\n\n{body}"
    
    server.sendmail(
        'asura.xpin@gmail.com',
        msg
     
    )